<div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator circle responsive-img" src="https://static.ellahoy.es/ellahoy/fotogallery/1200X0/190603/el-portugues-cristiano-ronaldo.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#" class="deactivate">Contacto</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>
<div class="col s1"></div>
<div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator circle responsive-img" src="https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/05/02/5908f19e85598.jpeg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#">Contacto</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>
<div class="col s1"></div>
<div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator circle responsive-img" src="https://st-listas.20minutos.es/images/2013-01/353667/list_321px.jpg?1359655711">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#">Contacto</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>
